// custom imports
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,500,700');

// https://stackoverflow.com/a/58290951/11098871
// for viewport scrolling
// the root html element must be scrollable for window.scrollTo() to work.
html {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

body {
  width: 100%;
  height: auto;
}

// custom classes
.has-border-1 {
  border-left: 1px solid black;
  padding-left: 15px;
}

// custom variables
$family-sans-serif: "Karla", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
$family-secondary: "Rubik", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
// navbar
$navbar-item-img-max-height: 4.00rem;
$navbar-height: 4.00rem;

// bulma import
@import "node_modules/bulma/bulma";
