// custom imports
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Faster+One');

// https://stackoverflow.com/a/58290951/11098871
// for viewport scrolling
// the root html element must be scrollable for window.scrollTo() to work.
html {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

body {
  width: 100%;
  height: auto;
}

// custom classes
.has-border-1 {
  border-bottom: 1px solid black;
}

// custom variables
$family-primary: "Play", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
$family-secondary: "Faster One", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
// navbar
$navbar-item-img-max-height: 4.00rem;
$navbar-height: 4.00rem;

// bulma import
@import "node_modules/bulma/bulma";
